@font-face {
    font-family: 'digital-7';
    src: url('fonts/digital-7.ttf') format('woff2')
}

body{
    color:whitesmoke;
    font-family: Arial;
    display:flex;
    background-color: darkslateblue;
}
#calculator{
    width: 50vw;
    height:90vh;
    background-color:black;
    margin:auto;
    border-radius: 15px;
}
#display{
    background-color: #388385;
    height: 20%;
    width:90%;
    margin: 50px auto 25px auto;
    border-radius: 15px;
    font-size: 8em;
    position:relative;
    display:flex;
    justify-content:flex-end;
    align-items: center;
}
#display>p{
    font-family: digital-7, Arial;
    margin-right: 15px;
    color:#1c242b;
}
#buttonContainer{
    height:75%;
    width:100%;
}
.row{
    display:flex;
    height: 14%;
    width:90%;
    margin: 1% auto 1% auto;
}

.button{
    width: 23%;
    height:90%;
    margin:auto;
    font-size: 6vmin;
    display:flex;
    cursor:pointer;
    border-radius: 15px;
}

.button#orderOfOperationSwitch{
    background-color: #00f400;
    height: 90%;
    width: 23%;
    margin-left: 1%;
    font-size: 16px;
    display:flex;
    text-align: center;
    justify-items: center;
    align-items: center;
    color: black;
}
.button#orderOfOperationSwitch>p{
    margin:0 3px 0 3px;
}


.button#orderOfOperationSwitch:hover{
    color: black;
}

#orderOfOperationModeText>p{
    margin-left: 10px;
    font-size: 1.25em;
}

.button:active, .active{
    transform: translateY(3px);
}
#buttonContainer,.button>p{
    margin:auto;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}
.button:hover{
    color:dodgerblue;
}
.clearButton{
    width: 35%;
    background-color:#3a0303;
}

.numberButton{
    background-color: #0a2b1d;
}
.operatorButton, #op_equal, #negativeButton, .parenthesisButton{
    background-color: lightgrey;
    color:#0a2b1d;
}
.operatorButton#op_multiply{
    font-size: 4.5vmin;
}
#negativeButton{
    font-size: 4.5vmin;
}
.parenthesisButton{
    font-size: 4vmin;
}
#op_equal{
    width:48%;
}
